/* ---------------------------------------------General CSS--------------------------------------------- */

/* Set document text to Open Sans and set scrolling behavior */
html, body {
    font-family: 'Open Sans', sans-serif;

    /* Enable scrolling when rendered profiles in <body> extend below the page */
    height: 100%; 

    /* Disable scrolling when rendered profiles in <body> don't extend below the page */
    overflow: hidden; 
}

/* Lock in x and y scrollbars for scrolling when <body> elements extend past or below the page  */
body {
    overflow-x: scroll;
    overflow-y: scroll;
}

/* Padding and border of elements don't increase width */
* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/* The main app container */
.app-address-book {
   width: 800px;
   margin: 0 auto;
}

/* The top container for navigation, user accounts, and search */
.app-directory-container {
    position: block;
}

/* ---------------------------------------------Navbar-------------------------------------------------- */

/* Styling for nav dropdowns */
.dropdown-toggle {
    bottom: 50px;
}

.dropdown-menu {
    padding: 15px; 
    padding-bottom: 0px;
    top: -1px;
}

/* Styling for user account forms within dropdowns */
form {
    display: inline-block;
}

.form-inputs {
    margin-bottom: 10px;
}

.glyphicon-container {
    text-align: center;
}

/* Styling for all form buttons */
.btn-info {
    background-color: #0074D9;
    border-color: #0074D9;
    margin-bottom: 10px;
    text-align: center;
}

.btn-info:hover {
    background-color: #DDDDDD;
    border-color: #DDDDDD;
    color: #0074D9;
    margin-bottom: 10px;
    text-align: center;
}

.btn-container {
    text-align: center;
}

/* Styling for elements in user preferences dropdown */
.preference-menu-header {
    display: block;
    text-align: center;
}

.logout-form, .contact-list-form {
    display: block;
}

.logout-form-btn, .contact-list-form-btn {
    max-width: 100px;
    width: 100px;
}

/* Styling for nav dropdowns while collapsed */
@media (max-width: 767px) {

    /* Ensure that dropdowns don't overlap heading above */
    .dropdown-toggle {
        bottom: 0px;
    }

    /* Adjust glyphicon placement */
    .glyphicon-container {
        display: inline-block;
        padding-left: 10px;
    }

    /* Condense form width */
    .dropdown-menu > form {
        width: 175px;
    }

    /* Condense user preferences dropdown header width */
    .preference-menu-header {      
        width: 175px;
    }

    /* Adjust user preferences glyphicon width */
    .glyphicon-container span[class="glyphicon glyphicon-glass"] {
        width: 165px;
    }
}

/* ---------------------------------------------Search-------------------------------------------------- */

/* Styling for "Find Staff" heading */
h4 {
    color: #FFFFFF;
    background-color: #0074D9;
}

/* Styling for list of letters for search */
.alphabet-links {
    max-width: 350px;
    margin: 0 auto;
}

/* Styling for each search box */
.app-search-form {
    margin: 0 auto;
    width: 250px;
    margin-left: 85px;
}

/* ---------------------------------------------Profiles------------------------------------------------ */

/* Styling for popover boxes that appear when a name is clicked */
.popover {

    /* Extend width of popover to width of profile */
    max-width: 100%;

    /* Set positioning of popover to align with profile pictures */
    top: 15px !important;
}

.app-person-profile h2,
.app-person-profile h3,
.app-person-profile h4 {
    color: #008;
}

/* Styling for each profile container */
.app-person-profile {
    position: relative;
    overflow: auto;
    padding: 5px;
}

/* Styling for section containing profile picture and header */
.app-person-profile-header {
    vertical-align: bottom;
    margin-bottom: 25px;
    margin-left: 145px;
    display: inline-block;
    width: 225px;
}

/* Styling for profile picture */
.app-person-profile-photo {
    position: absolute;
    left: 10px;
    top: 10px;
    width: 125px;
    height: 125px;
    border-radius: 113px;
    border: 2px solid #00f;
    overflow: hidden;
    background-size: 100%;
    background-repeat: no-repeat;
}

/* Styling for profile name */
.app-person-profile h2 {
    margin: 10px 0 0 0;
    padding: 0;
    color: #008;
}

/* Styling for education and experience sections */
.app-section {
    vertical-align: top;
    display: inline-block;
    margin-left:22px;
    width: 180px;
}

/* Styling for body of education and experience sections */
.app-section-body {
    margin-top: -5px;
}

/* Styling for dates in education and experience sections */
.app-history-item-dates-edu, .app-history-item-dates-work {
    padding-right: 5px;
    font-weight: bold;
    width: 80px;
}

/* ---------------------------------------------User Error---------------------------------------------- */

/* Styling for login and registration error messages */
.error-messages {
    display: block;
    margin: 20px auto;
    width: 250px;
}

.error-messages h4 {
    text-align: center;
    background-color: transparent;
    color: #FF4136;
}

/* Styling for forms rendered when login or registration fails */
.retry-form form {
    display: block;
    margin: 0 auto;
    width: 500px;
}

.retry-form form input {
    display: block;
    margin: 10px auto;
    width: 250px;
}

.retry-form form button {
    display: block;
    margin: 0 auto;
    text-align: center;
    width: 250px;
}